<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-eqiv="cleartype" content="ON">
    <link href="css/door.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="home-panel">
        <div class="title">
            <img class="img2" src="img/icon2.png" alt="" ng-click="goto('list')">
            <img class="img1" src="img/icon1.png" alt="" ng-click="goto('list')">
        </div>
        <div class="content">
            <p>
                <button class="but-com" ng-click="goto('acr')">ACR副反应</button>
            </p>
            <p>
                <button class="but-com" ng-click="goto('rif')">RIF副反应</button>
            </p>
            <p>
                <button class="but-com"ng-click="goto('vcr')">VCR副反应</button>
            </p>
        </div>
    </div>
</body>
</html>