<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-eqiv="cleartype" content="ON">
    <link href="css/statement.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="home-panel">
        <div class="content">
            <p style="font-size: 2.5rem">中国血液肿瘤患者不良反应调研项目背景</p>
            <p style="    margin-top: 2rem;
            line-height: 2.5;
            font-size: 1.5rem;">随着中国社会环境及生活方式的改变， 血液肿瘤的患病人群日增多。血液肿瘤的发病原因复杂，近年来，随着临床上治疗血液肿瘤的药物增多，药品不良反应的增加率也不断增加，有药品不良反应导致医疗费用的剧增，给政府和患者家庭都带来了沉重的负担。鉴于此，由北京慢性病防治与健康教育研究会主办、人民卫生出版社《中国医学前沿杂志(电子版)》编辑部和《肿瘤综合治疗电子杂志》编辑部学术支持的中国血液肿瘤患者不良反应调查项目应运而生。希望通过临床问卷调研的方式，深入了解目前血液肿瘤患者对所使用的我司治疗药物的主要不良反应及发生率，包括抗肿瘤治疗效果、安全性及依从性等信息。为药品的不良反应的科学性和规范化提供重要的科学依据。该项目计划自2019年11月1日起至2020年8月31日止，拟选取全国20家样本医院开展调研，计划收集2250份有效调研问卷,为行业规范化和标准修订提供重要的依据或参考。
                血液肿瘤有三个血液科应用较多的产品。1、复方黄黛片2、阿克拉霉素3、长春新碱，这些产品在血液肿瘤临床治疗方案中使用交多，本次调研以这三个产品为主，旨在了解这些产品在不同的治疗方案中的不良反应及不良反应发生率，为临床治疗安全提供参考</p>
            <button class="dudubutton" ng-click="goback()">返回上页</button>
        </div>
    </div>
</body>
</html>