<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flow.snow.snow.mapper.QuesttionnaireMapper" >
    <insert id="insert">
		insert into questionnaire(
			id,
			age,
			content,
			create_date,
			name_abc,
			openid,
			type,
			sex
		)
		values(
			#{id},
			#{age},
			#{content},
			now(),
			#{nameAbc},
			#{openid},
			#{type},
			#{sex}
		)
    </insert>
</mapper>